@media screen and (max-width: 1600px) {
    .header__container,
    .hero .container {
        width: 1110px;
    }
}

@media screen and (max-width: 1100px) {
	.header__container,
	 .container {
		max-width: 992px;
	}
	.hero {
		background-position-y: -20vh; 
	}

	.hero__title {
		font-size: 102px;
	}
	.hero__subtitle {
		font-size: 20px;
	}
	.hero__description {
		font-size: 18px;
	}
	.hero__social {
		bottom: 205px;
		right: 15px;
  }
	.hero__scroll {
		bottom: 290px;
	}

	.trip__top {
		justify-content: center;
		padding: 0;
	}

	.slider-item__text {
		transform: translate(45%,-50%);
	}
	.slider__dots {
		bottom: 8px;
	}
	.trip__top {
		flex-direction: column;
		text-align: center;
  }
  .trip__right {
	  padding-left: 45px;
  }
  .trip img {
		margin: 20px 0px;
  }
  .trip__nav {
		margin-top: 83px;
		margin-bottom: 100px;
		padding: 0px 10px;
	}
  .trip__nav li {
		padding: 0 ;
	}
	.trip__social span {
		margin-bottom: 0;
	}
	.trip__social::before {
		bottom: 0;
	}
}