@media screen and (max-width: 992px) {
	.header__container,
	 .container {
		max-width: 756px;
	}
	.hero__social {
		bottom: 150px;
		
  }
  .hero__scroll {
		bottom: 250px;
	}
	.trip__content {
		flex-wrap: wrap;
	}
	.trip__left {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 80px;
	}
	.slider-item__text {
		transform: translate(0%,-50%);
	}
	.slider__dots {
      left: 78px;
      bottom: -50px;
  }
  .trip__right {
	  width: 100%;
  }
  .trip__social span {
	margin-bottom:6px;
 }
 .trip img {
	margin: 8px 0px;
	}
	.about__content {
		flex-wrap: wrap;
		justify-content: center;
	}
	.about__left {
		width: 100%;
		text-align: center;
		padding: 0;
		margin-bottom: 50px;
	}
	.about .title {
		text-align: center;
	}
	.about__right {
		width: 100%;
	}
	.about-item:hover .about-item__info  {
		opacity: 1;
		left: 12px;
  }
  .people {
		margin-top: 170px;
		padding-bottom: 110px;
	}
	.people-item::before {
		display: none;
  }
  .people-item {
		padding: 45px 10px 52px 20px;
	}
	.goodbye {
		padding-bottom: 15px;
  }
  .footer {
		padding: 100px 0px;
		height: 100%;
	}
	
}