@media screen and (max-width: 770px) {
    .hero {
        background-position-y: -20vh;
    }
    .hero__container,
    .header__container{
        padding-left: 40px;
        width: auto;
    }
    .header__logo {
        font-size: 30px;
    }
    .header__menu {
        margin-right: 80px;
        font-size: 12px;
    }
    .hero__scroll {
        margin-left: 20px;
    }
    .hero__social {
        margin-right: 50px;
    }
    .hero__title {
        font-size: 110px; 
    }
    .hero__subtitle {
        margin-bottom: 20px;
    }
    .trip__top {
        margin: 0 -170px 0 200px;
    }
    .trip__nav {
        margin: 90px;
    }
    .trip__slider {
        width: 576px;
    }
    .slider__dots {
        left: 50px;
    }

}